<div class="panel panel-default">
    <div class="panel-heading">
            <h2 class="panel-title">Contacts</h2>
            <button class="btn btn-success" [routerLink]="['/contacts', 'new']">New Contact</button>
    </div>
    <div class="panel-body">
        
        <app-contact-item 
            *ngFor="let contact of contacts"
            [contact]="contact"
            dndDraggable
            [dragEnabled]="true"
            [dragData]="contact"
            [dropZones]="['contactGroup']">
        </app-contact-item>
    </div>
</div>